html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #0f4983 0%, #90ade2 100%);
}

h1 {
  color: blanchedalmond;
}

.header-h1 {
  color: silver;
}

.header-h2 {
  color: darkgray;
}

.header-h3 {
  color: blue;
}

section {
  background-color: rgb(255, 255, 255);
}

.header{
  grid-area: header;
}

.mian_column{
  grid-area: main_column;
}
.photo{
  display: block;
  max-width: 100%;
  
}

.aside_column{
  grid-area: aside_column;
}
.footer {
  color: blanchedalmond;
  grid-area: footer;
  max-width: 1000px;
  margin: 0 auto;
}


.navigation {
  background: cadetblue;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: #fff;
  color: black;
}

.article {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.article__header-h3 {
  color: blue;
}

.article__header-h3--special {
  color: cadetblue;
}

@media screen and (max-width: 767px){
  .aside_column{
    display:none;
  }
}




@media screen and (min-width: 768px ){

  

  .main{
    
      max-width: 1000px;
      margin: 0 auto;
    
    display: grid;
    grid-template-areas: 
    "header header header"
    "mian_column . aside_column"
    "footer footer footer";

  column-gap: 16px;
  row-gap: 16px;
    grid-template-columns: 1fr 24px 200px;
   
  }



}